@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(182, 157, 157);
}

li {
    list-style: none;
}

body {
    background-color: #813d3d;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#wrap {
    width: 100%;
    height: 100%;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

#header {
    width: 100%;
    height: 60px;
    /*background-color: rgba(0, 0, 0, 0.048);*/
}

.header__inner {
    border-top: 2px solid #00000087;
    border-bottom: 1px solid #0000006d;
}

#header h1 {
    font-family: 'Montserrat';
    color: #000000;
    font-weight: 300;
    font-size: 18px;
    padding: 10px 0;
    line-height: 1;
}

#header h1 a {
    font-family: 'Montserrat';
    color: #000000;
    font-weight: 300;
    font-size: 18px;
    padding: 10px 0;
    line-height: 1;
}

#header h1 em {
    font-weight: 600;
    font-style: normal;
}

#main {}

.main__inner {}

#footer {
    width: 100%;
    position: relative;
    z-index: 20000;
}

.footer__inner {}

.footer__inner ul {
    display: flex;
}

.footer__inner ul li {
    margin-right: 5px;
}

.footer__inner ul li a {
    border: 1px solid rgba(63, 16, 16, 0.575);
    padding: 3px 10px;
    border-radius: 50px;
    color: rgba(0, 0, 0, 0.589);
    display: inline-block;
    font-family: 'Montserrat';
    line-height: 1;
    background-color: #813d3d;
}

.footer__inner ul li.active a {
    background-color: #d2d2d2;
    color: #813d3d;
}

.footer__inner .link {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.footer__inner .link a {
    font-family: 'Montserrat';
    background-image: url(../svg/arrow2.svg);
    background-size: 10px;
    padding-right: 25px;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-color: #813d3d;
}