@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 800;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 900;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.ttf") format("truetype");
    font-display: swap;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    font-family: "nanumSquareNeo";
    box-sizing: border-box;
    font-size: 16px;
}

#wrap {
    display: flex;
    justify-content: center;    
    align-items: center; 
    height: 100vh; 
}

#input {
    width: 200px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

/* common */
.none {
    display: none;
}

/* header */
#header {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header h1 a {
    display: inline-block;
    color: #000000;
    padding: 20px;
    font-size: 30px;
}

.quiz_results {
    position: fixed;
    top: 150px;
    right: 715px;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.quiz_results div {
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    width: 150px;
    top: 0;
    left: 0;
    border: 2px solid black; 
}

.question .question-number {
    font-size: 20px;
}

#input #answerInput {
    padding: 15px;
    border-radius: 5px;
    width: 400px;
    height: 50px;
    background-color: #e7d8d8;
    margin-top: 50px; 
    margin-left: 50px;
}

.question {
    font-family: "nanumSquareNeo";
    font-size: 20px;
    border-radius: 5px;
    width: 500px;
    height: 250px;
    background-color: #f7f7f734;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.quiz_footer {
    position: fixed;
    width: 100%;
    display: flex;
    bottom: 200px;
    left: 840px;
}

.quiz_footer button {
    margin: 0 6px;
    border-radius: 5px;
    background-color: #ffffff;
    width: 100px;
    height: 40px;
    transform: rotate();
    cursor: pointer;
}

.quiz_footer button:hover {
    background-color: #cccccc; /* 클릭 시 색상 변경 */
}

/* body */
body {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    background-image: url(../img/bg02.jpg);
    width: 100%;
    min-height: 100vh;
}

body::after {
    content: '';
    width: 600px;
    height: 650px;
    background-color: rgb(179, 91, 91);
    position: absolute;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
    border-radius: 8px; 
    border: 2px solid black; 
    box-sizing: border-box; 
    z-index: -1;
}


